<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Welcome to BooKart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        
        <div id="headerWrapper" ng-controller="HeaderCtrl">
            <span class="logo pull-left">{{appDetails.title}}</span>
            <span class="tagline pull-left">{{appDetails.tagline}}</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Books</a></li>
                    <li><a href="#">Kart</a></li>
                </ul>
            </div>
        </div>
		
		<div id="bookListWrapper" ng-controller="BookListCtrl">
			<form role="form">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="Search here...">
			  </div>
			</form>
			<div>
			<ul class="list-unstyled">
				<li class="book" 
					style="background: white url(imgs/{{book.imgUrl}}) no-repeat"
					ng-repeat="book in books">
					<div class="book-details clearfix">
						<h3>{{book.name}}</h3>
						<p>{{book.price}}</p>
						<ul class="list-unstyled list-inline">
							<li>Rating: {{book.rating}}</li>
							<li>Binding: {{book.binding}}</li>
							<li>Publisher: {{book.publisher}}</li>
							<li>Released: {{book.releaseDate}}</li>
						</ul>
						<p>{{book.details}}</p>
						<button class="btn btn-info pull-right" ng-click="addToKart(book)">Add to Kart</button>
					</div>
				</li>
			</ul>
		</div>
    </body>
</html>